#artboard {
    margin-top: 40px;
    background-color: #CCC;
}

#canvas {
    margin-top: 0;
}

#statusmessage {
    height: 0em;
}

/* Can go away once we factor out swordpush.js */
#page-title {
    display: none !important;
}

#content {
    padding: 1em 1em;
    background-color: #CCC;
}
