body{
  font-size: .8em;
  font-family: Verdana, DejaVu Sans, Tahoma;
  margin: 0;
}

a:link{
  color: #26f;
}

a:visited{
  color: #85d;
}

a.external{
  padding-right: 15px;
  background-image: url(images/external-link-02.png);
  background-repeat: no-repeat;              
  background-position: right .2em;
}

p{
  margin: .5em 0 1em;
}

input{
  font-size: 1em;
  font-family: Verdana, DejaVu Sans, Tahoma;
}

img{
  border-width: 0;
}

.button{
  font-size: .85em;
  background: #D4D0C8;
  border: 1px outset #D4D0C8;
  padding: .3em .5em;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
}

span .button{
  padding: .4em .5em;
}

#header-wrap a, #header-wrap{
  color: white;
}

#header-container{
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #587E2C;
  background-color: #71A238;
}

#header h1{
  font-size: 1.5em;
  font-weight: normal;
  color: #334;
  margin: 16px 0 0 50px;
}

#header h1 a{
  text-decoration: none;
  color: white;
}

#header img.cnxlogo{
  width: 32px;
  position: fixed;
  top: 10px;
  left: 12px;
}

#header-functions{
  float: right;
  text-align: right;
}

#expertmode{
  width: auto;
  font-size: .85em;
  text-align: right;
  white-space: nowrap;
  color: black;
  float: right;
  border: 1px solid transparent;
  border-width: 0 0 1px 1px;
  cursor: pointer;
  padding: 5px 6px;
}

#expertmode.expert-activated{
  background-color: #FFECD1;
  border-color: #B9AC98;
}

#basic-message, #advanced-message{
  padding: 5px;
}

#expertmode img{
  vertical-align: -.4em;
}

#expertmode .link-like{
  text-decoration: underline;
}

#status{
  font-size: .85em;
  padding: 6px;
  float: right;
  clear: right;
}

.advanced{
  display: none;
}

.advanced-marker{
  vertical-align: -.35em;
}

#errors-wrap,
#workflownav-wrap{
  position: fixed;
  top: 56px;
  z-index: 3;
  width: 100%;
}

#workflownav-container,
#errors-container {
  padding: .75em 2em;
  border-bottom: 1px solid #7E9AB4;
  background-color: #9abcdc;
  -moz-box-shadow:    2px 1px 2px 2px #ddd;
  -webkit-box-shadow: 2px 1px 2px 2px #ddd;
  box-shadow:         2px 1px 2px 2px #ddd;
  text-align: right;
}

#errors-container {
  background-color: red;
  text-align: left;
}


#expert-helper-text, #expert-activated-text{
  padding: 0 .5em;
}

#container{
  padding: 0;
  width: 100%;
}

#content{
  padding: 2em 2em;
  width: auto;
}

#edit-existing{
  position: absolute;
  width: 50%;
  right: 0;
  margin-left: 100px;
  padding: 1em 0 1em;
}

#edit-existing-contents{
  border-left: 1px solid #bbb;
  padding: 0 2em;
  margin-left: -1px;
}

#create-new-list, #create-new-list li{
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

#create-new-list{
  margin-top: 1em;
}

#create-new-list li{
  padding: 0 10px 1em;
  margin-bottom: .75em;
  margin-left: 2em;
  padding: 0;
  position: relative;
}

#create-new-list label{
  margin: 0;
  display: block;
  margin-bottom: -1.1em;
  float: left;
  white-space: nowrap;
}

#create-new-list .label-text{
  padding: .4em .7em .5em;
  border: 1px solid #888;
  background-color: #fff;
  float: left;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

label img{
  vertical-align: -4px;
}

.or-bullet{
  float: left;
  margin-left: -2em;
  padding-right: .5em;
  font-weight: normal;
  text-transform: uppercase;
}

.upload-form, .existing{
  clear: both;
  border: 1px solid #ccc;
  background-color: #eee;  
  padding: 2em 1em 1em;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.existing{
  padding-top: 1em;
}

#edit-existing-contents ul, #edit-existing-contents li{
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

#edit-existing-contents li{
  padding: 0em 0 .15em .8em;
  background-image: url(bullet-01.png);
  background-repeat: no-repeat;
  background-position: .2em .6em;
}

#back-steps{
  float: left;
}

#workflownav-container .button{
  background-color: #DAE7F2;
  border: 1px outset #dae7f2;
  font-weight: bold;
}

.forward-button{
  background-color: #FFdd66 !important;
  border: 1px outset #fd6 !important;
}

#module-actions{
  float: right;
  white-space: nowrap;
  margin-left: 3em; 
  margin-top: .25em;
}

#module-actions h3{
  font-size: .85em;
  margin: -.25em 0 .5em .5em;
}

#module-actions .button{
  margin-left: .5em;
}

#pageheader-wrap{
  padding: 0 0 1em;
  margin-top: -.8em;
}

#page-title{
  overflow: hidden;
  text-overflow: ellipsis;
}

h1{
  font-size: 1.45em;
  margin: 0;
}

.metatitle{
  font-size: 1.2em;
  font-family: courier new, monospace;
  font-weight: normal;
}

#page-title .metatitle{
  font-size: .8em;
}

#page-description{
  clear: left;
  padding: .3em 0 0;
}

#metadata td{
  padding-right: 2em;
}

.forminfo{
  font-size: 1em;
  margin: .2em 0 .4em;
  color: #666;
}

.formlabel{
  font-weight: bold;
}

.formentry {
  margin-bottom: 1.5em;
}

.formfield input{
  resize: horizontal; /* I think this only works on Chrome */
}

.formfield input, .formfield select, .formfield textarea{
  font-family: inherit;
  font-size: inherit;
  font-size: 90%;
}

.error{
  margin: .5em 0 1em;
  background-color: #ffe3ee;
  border: 1px solid #c56;
  padding: .5em 1em .5em;
}

.errortext{
  color: #c56;
  font-weight: bold;
}

.required{
  font-weight: bold;
  color: #c56;
}

.splashbox{
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  padding: 1em;
}

.splashbox table{
  margin: 0 auto;
}

#page-description .forminfo{
  margin: 0;
}

iframe{
  height: 100%;
  border: 1px dotted #bbb;
}

#left-column-wrap{
  width: 50%;
  float: left;
}

#right-column-wrap{
  width: 50%;
  float: right;
}

#left-column{
  padding: 0 1.5em 2em 1em;
}

#right-column{
  padding: 0 1em 2em 1.5em;
}

#nav-column-wrap{
  float: left;
  width: 12em; 
  margin-left: -2em;
  margin-top: -2em;
}

#main-column-wrap{
  margin-left: 10em;
}


#main-column{
  padding: 2em 0 2em 2em;
  border-left: 1px solid #666;
  margin-left: -1px;
  margin-top: -2em;
}

#nav-column{
  border-right: 1px solid #666;
  padding: 0 1.5em 2em 1em;
  white-space: nowrap;
  padding: 0;
}

#nav-column ul, #nav-column li{
  display: block;
  margin: 1.3em 0 4em;
  padding: 0;
  list-style-type: none;
}

#nav-column li{
  margin: 0;
  position: relative;
}

#nav-column a span{
  background-color: white;
  padding: .5em .75em .5em .75em;
}

#nav-column a{
  padding: .3em 1em .3em 0;
  display: block;
  font-size: 1.3em;
  text-decoration: none;
  background-color: white;
  outline-width: 0;
  color: #5C852E;
  font-weight: normal;
}

#nav-column a:hover{
  background-image: url(nav-arrow-green-01.png);
  background-repeat: no-repeat;
  background-position: right .7em;
}

#nav-column li.selected a:hover{
  text-decoration: none;
}

#nav-column li.selected a{
  color: black;
  background-image: url(images/nav-arrow-07.png);
  background-repeat: no-repeat;
  background-position: right .7em;
}

#nav-edit, #nav-adapt{
  display: none !important;
}

#start-over{
  border-top: 1px dotted #bbb;
  margin-top: 2em;
  padding-top: 1em;
}

#footer{
  clear: both;
  text-align: center;
  padding-bottom: 1em;
  padding-top: .5em;
  margin: 2em auto 0;
  border-top: 1px solid #ddd;
  width: 70%;
}


#simplemodal-overlay {
    background-color:#000;
}

#simplemodal-container {
    background-color:#ffffff;
    border:8px solid #444;
    padding:12px;
}

#simplemodal-container td.table-row-top {
    border: none;
    border-top: 2px solid black;
    text-align: center;
}

#simplemodal-container td.table-row-mid {
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}

#simplemodal-container td.table-row-bottom {
    border: none;
    border-bottom: 2px solid black;
}

#simplemodal-container td.table-row-general {
    border: none;
}

#simplemodal-container td {
    border: none
}

body.preview {
    background: url(images/preview-bg-03.png);
}

.hidden {
    width:0;
    height:0;
}

#header2-container {
    background: white;
    margin: 0;
    padding: 5px;
}

#header2 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 0;
    position: relative;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    background: #ffffe0;
    border-color: #f0f000;
}

div.CodeMirror-lines {
    font-size: 12pt;
    line-height: 1em;
}

.codeblock, .pleasewait{
    border: 1px solid #f0f000;
    background-color: #ffffe0;
}

.codeblock{
    font-size: 1.2em;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0 1em;
}

.pleasewait{
    vertical-align: center;
    font-weight: bold;
    padding: .75em 1em;
    margin: auto;
    display: inline;
    -moz-box-shadow:    3px 3px 2px 2px #ddd;
    -webkit-box-shadow: 3px 3px 2px 2px #ddd;
    box-shadow:         3px 3px 2px 2px #ddd;
    z-index: 4;
}

.highlight {
    font-weight: bold;
}
