figure {
    counter-increment: figure;
}

figure figcaption::before {
    content: "Figure 1." counter(figure) " ";
    font-weight: bold;
}

/* Hide aloha default toolbar */
.aloha-table-wrapper div.aloha-wai-red {
    background-image: none !important;
}

.aloha-toolbar {
    display: none !important;
}

#page-title {
    display: none !important;
}

#page-description {
    display: none !important;
}    

#artboard {
    margin-top: 40px;
    background-color: #CCC;
}

#canvas {
    margin-top: 0;
}

#content {
    padding: 1em 1em;
    background-color: #CCC;
}

#module-actions {
    margin-top: -13px;
    position: relative;
    z-index:1;
}

#statusmessage {
    height: 0em;
}

.aloha-editable-active, .aloha-editable-active[contenteditable="true"]:focus {
    outline: none !important;
}

.modal-header {
    background-color: #9ABCDC !important; /* Connexions Blue */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.modal-header .close {
    margin-top: -5px !important;
}

.modal-header h3 {
    line-height: 16px !important;
    font-size: 16px;
}

.modal-body {
    padding: 10px !important;
}

.modal-footer {
    padding: 5px 15px 5px !important;
}
