#page-title {
    display: none !important;
}

#page-description {
    display: none !important;
}    

#artboard {
    margin-top: 40px;
    background-color: #CCC;
}

#canvas {
    margin-top: 0;
}

#content {
    padding: 1em 1em;
    background-color: #CCC;
}

#module-actions {
    margin-top: -13px;
    position: relative;
    z-index:1;
}

#statusmessage {
    height: 0em;
}
