#header {
    background-color: #99bbdd;
}

#header h1 {
    padding:9px;
    color: #ffffff;
}

/* Override default Blueprint table body colouring */
tbody tr:nth-child(2n) td, tbody tr.even td {
    background: none repeat scroll 0 0 #FFFFFF;
}

ul.error {
    padding-left: 1.8em;
}

/* override default textarea height */
textarea#summary, textarea#keywords {
    height: 61px;
}

/* Simple modal form styling */
#simplemodal-overlay {
    background-color:#000;
}
#simplemodal-container {
    background-color:#ffffff;
    border:8px solid #444;
    padding:12px;
}

#simplemodal-container th {
    background: #ccc;
    border: 1px solid #888;
    text-align: center;
}

#simplemodal-container td {
    border: 1px solid #888;
}

#roles-picker-buttons {
    text-align:right;
}
