.toolbar{
    position: fixed;
   top: 100px;
   width: 100%;
    z-index: 100;
}

#sidebar {
    float: left;
    margin: 1em 25px;
    position: fixed;
    width: 200px;
}

#canvas {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    box-shadow: 0 0 10px #9F9F9F;
    cursor: text;
    margin: 180px 25px 0 250px;
    min-height: 100%;
    padding: 30px;

}


#workflownav-container .button {
    background-color: #DAE7F2;
    border: 1px outset #DAE7F2;
    font-weight: bold;
}
.forward-button {
    background-color: #FFDD66 !important;
    border: 1px outset #FFDD66 !important;
}
.button {
    background-color: #D4D0C8;
    border: 1px outset #D4D0C8;
    cursor: default;
    font-size: 0.85em;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-decoration: none;
}
input {
    font-family: Verdana,DejaVu Sans,Tahoma;
    font-size: 1em;
}

#workflownav-container {
    background-color: #9ABCDC;
    border-bottom: 1px solid #7E9AB4;
    box-shadow: 2px 1px 2px 2px #DDDDDD;
    padding: 0.75em 2em;
    text-align: right;
}

#workflownav-wrap {
    position: fixed;
    top: 56px;
    width: 100%;
    z-index: 2;
}

#back-steps {
    float: left;
}
#header-container {
    background-color: #71A238;
    border-bottom: 1px solid #587E2C;
    height: 55px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
#header-wrap a, #header-wrap {
    color: white;
}
#header h1 {
    color: #333344;
    font-size: 1.5em;
    font-weight: normal;
}

#header h1 a {
    color: white;
    text-decoration: none;
}
#header-functions {
    float: right;
    text-align: right;
}
#status {
    clear: right;
    float: right;
    font-size: 0.85em;
    padding: 6px;
}

#sidebar dl {
    background-color: #EEEEEE;
    border: 1px solid #AAAAAA;
    box-shadow: 0 0 5px #AAAAAA;
    margin: 0 0 15px;
    padding: 0;
}

#pedagog ul, #pedagog li, #pedagog dd {
    clear: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-icon.aloha-icon-undo{
    height: 20px;
    width: 33px;
    background: url('icons/undo-01-disabled.png') 0 -10px;
}
.menu-icon.aloha-icon-redo{
    height: 20px;
    width: 33px;
    background: url('icons/redo-01-disabled.png') 0 -10px;
}

.menu-bar
{
    /* TODO: Better would be not rendering it */
    display:none;
    visibility:hidden;
}

.tool-bar{
    background: #fefefe; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGQ1ZDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fefefe 0%, #d4d5d5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#d4d5d5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#d4d5d5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefefe 0%,#d4d5d5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefefe 0%,#d4d5d5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefefe 0%,#d4d5d5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d4d5d5',GradientType=0 ); /* IE6-8 */
/*
    background-color: #FFFFFF;
    background-image: url("toolbar/toolbar-bg-01.png");
    background-position: 0 0;
    background-repeat: repeat-x;*/
    border-bottom: 1px solid #AAAAAA;
    clear: both;
    /*padding: 10px 1em 0;*/
    height: 32px;
    padding:5px 0;
    /*padding-top: 5px;*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*z-index: 100;*/
    /*top: 0;*/
}
