.toolbar{
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: 100;
}

#sidebar {
    float: left;
    margin: 1em 25px;
    position: fixed;
    width: 200px;
}

#canvas {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    box-shadow: 0 0 10px #9F9F9F;
    cursor: text;
    margin: 180px 25px 0 250px;
    min-height: 100%;
    padding: 30px;
}


#workflownav-container .button {
    background-color: #DAE7F2;
    border: 1px outset #DAE7F2;
    font-weight: bold;
}
.forward-button {
    background-color: #FFDD66 !important;
    border: 1px outset #FFDD66 !important;
}
.button {
    background-color: #D4D0C8;
    border: 1px outset #D4D0C8;
    cursor: default;
    font-size: 0.85em;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-decoration: none;
}
input {
    font-family: Verdana,DejaVu Sans,Tahoma;
    font-size: 1em;
}

#workflownav-container {
    background-color: #9ABCDC;
    border-bottom: 1px solid #7E9AB4;
    box-shadow: 2px 1px 2px 2px #DDDDDD;
    padding: 0.75em 2em;
    text-align: right;
}

#workflownav-wrap {
    position: fixed;
    top: 56px;
    width: 100%;
    z-index: 2;
}

#back-steps {
    float: left;
}
#header-container {
    background-color: #71A238;
    border-bottom: 1px solid #587E2C;
    height: 55px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
#header-wrap a, #header-wrap {
    color: white;
}
#header h1 {
    color: #333344;
    font-size: 1.5em;
    font-weight: normal;
}

#header h1 a {
    color: white;
    text-decoration: none;
}
#header-functions {
    float: right;
    text-align: right;
}
#status {
    clear: right;
    float: right;
    font-size: 0.85em;
    padding: 6px;
}

#sidebar dl {
    background-color: #EEEEEE;
    border: 1px solid #AAAAAA;
    box-shadow: 0 0 5px #AAAAAA;
    margin: 0 0 15px;
    padding: 0;
}

#pedagog ul, #pedagog li, #pedagog dd {
    clear: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-icon.aloha-icon-undo{
    height: 20px;
    width: 33px;
    background: url('icons/undo-01-disabled.png') 0 -10px;
}
.menu-icon.aloha-icon-redo{
    height: 20px;
    width: 33px;
    background: url('icons/redo-01-disabled.png') 0 -10px;
}

.tool-bar{
    height: 42px;
    background-repeat: repeat-x;
    background-position: 0 0;
    background-color: #fff;
    padding: 0 1em;
    border-bottom: 1px solid #aaa;
    position: relative;
    z-index: 1;
    clear: both;
    white-space: nowrap;
    position: fixed;
    width: 100%;
    z-index: 550;
    box-shadow: 0 0 5px #bbb;
    font-size: .9em;
    font-family: tahoma,verdana,arial,helvetica,sans-serif;

    /* following two are part of a hack learned from PatrikAkerstrand at http://stackoverflow.com/questions/5078239/how-to-remove-the-space-between-inline-block-elements */
    letter-spacing: -.31em;
    word-spacing: -.43em;   
}

.toolbar-icon{
    background-image: url(http://mountainbunker.org/~maxwell/oerpub/editor-ideas/toolbar/toolbar-sprite-02.png);
    outline: 0;
    height: 33px;
    width: 33px;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    background-position: -23px -66px;
}

.menu-icon.aloha-icon-bold{ 
    width: 32px;
    height: 32px;
    background-image: url(http://mountainbunker.org/~maxwell/oerpub/editor-ideas/toolbar/toolbar-sprite-02.png);
    background-position: -56px 0;
}

.menu-icon.aloha-icon-italic{ 
    width: 32px;
    height: 32px;
    background-image: url(http://mountainbunker.org/~maxwell/oerpub/editor-ideas/toolbar/toolbar-sprite-02.png);
    background-position: -155px 0;
}

.menu-icon.aloha-icon-underline{ 
    width: 32px;
    height: 32px;
    background-image: url(http://mountainbunker.org/~maxwell/oerpub/editor-ideas/toolbar/toolbar-sprite-02.png);
    background-position: -485px 0;
}

.menu-icon.aloha-icon-createTable{
    width: 32px;
    height: 32px;
    background-image: url(http://mountainbunker.org/~maxwell/oerpub/editor-ideas/toolbar/toolbar-sprite-02.png);
    background-position: -452px 0;
}

#toolbar-bold a                   { background-position: -56px 0; }
#toolbar-bold.disabled a          { background-position: -56px -33px; }
#toolbar-bold.hovered a           { background-position: -56px -66px; }
#toolbar-bold.selected a          { background-position: -56px -132px; }
#toolbar-italics a                { background-position: -155px 0; }
#toolbar-italics.disabled a       { background-position: -155px -33px; }
#toolbar-italics.hovered a        { background-position: -155px -66px; }
#toolbar-italics.selected a       { background-position: -155px -132px; }
#toolbar-underline a              { background-position: -485px 0; }
#toolbar-underline.disabled a     { background-position: -485px -33px; }
#toolbar-underline.hovered a      { background-position: -485px -66px; }
#toolbar-underline.selected a     { background-position: -485px -132px; }
