/* Remove the annoying WAI button in tables */
.aloha-table-wrapper div.aloha-wai-red { background-image: none !important; }

/* Hide the annoying floating toolbar */
.aloha-toolbar { display: none !important; }

/* Set some styling on the toolbar */
.toolbar {
  background-color: whiteSmoke;
  opacity: 0.95;
  
  position: fixed;
  top: 104px;
  
  width: 100%;
  padding-left: 1em;
  box-shadow: 0 2px 3px 0 #CCC;
  z-index: 1020;
}

/* Set the width for the Heading/SubHeading dropdown */
.toolbar .currentHeading {
  width: 9em;
}

/* Add some padding on the top so the toolbar has room to float in */
.document { margin: 4em; }

/* Needs to occur AFTER the bootstrap.css */
/* Allows the popover to grow in size */
.popover {
  width: auto;
}

/* We don't use the title in popovers so hide it... */
.popover .popover-title { display: none; }

figure {
  counter-increment: figure;
  /* Set inline-block so the figure popover shows up directly under instead of 1/2-way in the page */
  display: inline-block;
}
figure figcaption::before { content: "Figure " counter(figure) " "; font-weight: bold; }


.aloha-image-upload-drop-box {
  text-align: center;
  border: 1px dashed #ccc;
  width: 400px;
  padding: 100px 0;
  cursor: pointer;
}

/* Metadata fields that occur around the image */
.aloha-image-attrib .aloha-image-attr-alt::before {
  content: "Please provide a description of this image for the visually impaired";
  color: #ccc;
  display: block;
}
/* Just some formatting of the input boxes */
.aloha-image-attrib input { display: block; }
.aloha-image-attrib .aloha-image-attr-alt {
  width: 400px;
  display: block;
}

/* Toolbar icons */
.toolbar [class^="icon-"] {
    height: 33px;
    width: 33px;
    background-image: url("images/toolbar.png");
}
.toolbar .btn {
    padding: 5px;
}
.toolbar .btn-group > .btn + .dropdown-toggle {
    height: 47px;
    width: 20px;
}
.toolbar .icon-undo {
    background-position: -518px 0;
}
.toolbar .icon-redo {
    background-position: -288px 0;
}
.toolbar .icon-bold {
    background-position: -56px 0;
}
.toolbar .icon-italic {
    background-position: -155px 0;
}
.toolbar .icon-superscript {
    background-position: -420px 0;
}           
.toolbar .icon-subscript {
    background-position: -385px 0;
}           
.toolbar .icon-underline {
    background-position: -485px 0;
}
.toolbar .icon-image-insert {
    background-position: -122px 0;
}
.toolbar .icon-link-insert {
    background-position: -188px 0;
}
.toolbar .icon-unordered-list {
    background-position: -584px 0;
}
.toolbar .icon-ordered-list {
    background-position: -254px 0;
}
.toolbar .icon-table-insert {
    background-position: -455px 0;
}
.toolbar .btn.currentHeading {
    height: 47px;
}
.toolbar .btn.save {
    height: 47px;
    width: 4em;
}
